
footer{
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    background-color: #0009;
    padding: 60px 10%;
    border-top:  1px solid #e5e8ee;
    box-sizing: border-box;
    border-radius: 1.4rem;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    position: relative;
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 400;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    background-color: #0362f9;
    height: 2px;
    box-sizing: border-box;
    width: 40px;
}
footer li:not(:last-child){
    margin-bottom: 8px;
}
footer li a{
    font-size: 19px;
    text-transform: capitalize;
    color: #e5e8ee;
    text-decoration: none;
    display: block;
    transition: all 0.3s;
}
footer li a:hover{
    color: #0362f9;
    padding-left: 2px;
}
.media-links a{
    display:inline-block;
    height: 44px;
    width: 44px;
    color: #e5e8ee;
    background-color: rgb(34, 10, 255);
    margin: 0 8px 8px 0;
    text-align: center;
    line-height: 44px;
    border-radius: 50%;
    transition: 0.4s;
}
 .media-links a:hover{
    color: rgb(15, 135, 234);
    background-color: #e5e8ee;
}